<form class="create-form" id="create-form">
    <div class="row form-group ">
        <div id="ansContainer" class="col-10 ">
            {{#each questionanswers}}            
            <div class="row">
                <div class="col-md">
                    <h3>{{question}}</h3>
                </div>
            </div>
            <fieldset class="survey-answers" name="{{id}}">
                <div class="row">

                    <div class="col-2">
                        <label for="q{{id}}a1">
                            <input name="{{id}}" id="q{{id}}a1" type="radio" value="q{{id}}a1" data-val="1">
                            <h3>{{a1}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="q{{id}}a2">
                            <input name="{{id}}" id="q{{id}}a2" type="radio" value="q{{id}}a2">
                            <h3 class="">{{a2}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="q{{id}}a3">
                            <input name="{{id}}" id="q{{id}}a3" type="radio" value="q{{id}}a3">
                            <h3 class="">{{a3}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="q{{id}}a4">
                            <input name="{{id}}" id="q{{id}}a4" type="radio" value="q{{id}}a4">
                            <h3 class="">{{a4}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="q{{id}}a5">
                            <input name="{{id}}" id="q{{id}}a5" type="radio" value="q{{id}}a5">
                            <h3 class="">{{a5}} </h3>
                        </label>
                    </div>
                </div>
            </fieldset>
            {{/each}}
        </div>
    </div>
    {{!-- ===== --}}
    {{!-- ====== --}}
    <div id="beerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Your New Favorite Brew!</h1>
                </div>
                <div class="modal-body">
                    {{!-- <form class="col-12"> --}}
                    <div class="form-group">
                        <label for="email-input">Email</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Enter Email Address Here"
                            aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    {{!-- <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div> --}}
                    <button type="submit" class="btn btn-secondary" id="modalSubmit"><i class="fas fa-sign-in-alt"></i>
                        Submit</button>
                    <p>Dont Have an account?
                        <a href="register">Register Here</a>
                    </p>
                    {{!-- </form> --}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</form>
<button id="surveySubmit">Submit</button>

<script>
    $(document).ready(function () {
        $("#surveySubmit").click(function (event) {
            $('#beerModal').modal();
            event.preventDefault();
        }); //end $("#test").click()
    }); // end $(document).ready()
</script>