<div class="row ">
    <div id="ansContainer" class="col-10 ">
        {{#each answers}}
        {{!-- {{#each questions}} --}}
        <div class="row">
            <div class="col-md">
                <label for="q1a1">
                    <input id="q1a1" type="checkbox" value="false">
                    <h3>{{a1}} </h3>
                </label>
            </div>
            <div class="col-md">
                <label for="q1a2">
                    <input id="q1a2" type="checkbox" value="false">
                    <h3 class="">{{a2}} </h3>
                </label>
            </div>
            <div class="col-md">
                <label for="q1a3">
                    <input id="q1a3" type="checkbox" value="false">
                    <h3 class="">{{a3}} </h3>
                </label>
            </div>
            <div class="col-md">
                <label for="q1a4">
                    <input id="q1a4" type="checkbox" value="false">
                    <h3 class="">{{a4}} </h3>
                </label>
            </div>
            <div class="col-md">
                <label for="q1a5">
                    <input id="q1a5" type="checkbox" value="false">
                    <h3 class="">{{a5}} </h3>
                </label>
            </div>
        </div>
        {{!-- {{/each}} --}}
        {{/each}}
    </div>
</div>