<form class="create-form">
    <div class="row form-group ">
        <div id="ansContainer" class="col-10 ">
            {{#each questionanswers}}
            {{!-- {{#each questions}} --}}
            <div class="row">
                <div class="col-md">
                    <h3>{{question}}</h3>
                </div>
            </div>
            <div class="row">
                <fieldset class="survey-answers" name="{{id}}">
                    <div class="col-2">
                        <label for="{{a1}}">
                            <input name="{{id}}" id="{{a1}}" type="radio" value="{{id}}" data-val="1">
                            <h3>{{a1}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="{{a2}}">
                            <input name="{{id}}" id="{{a2}}" type="radio" value="{{id}}">
                            <h3 class="">{{a2}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="{{a3}}">
                            <input name="{{id}}" id="{{a3}}" type="radio" value="{{id}}">
                            <h3 class="">{{a3}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="{{a4}}">
                            <input name="{{id}}" id="{{a4}}" type="radio" value="{{id}}">
                            <h3 class="">{{a4}} </h3>
                        </label>
                    </div>
                    <div class="col-2">
                        <label for="{{a5}}">
                            <input name="{{id}}" id="{{a5}}" type="radio" value="{{id}}">
                            <h3 class="">{{a5}} </h3>
                        </label>
                    </div>
                </fieldset>
            </div>
            {{!-- {{/each}} --}}
            {{/each}}
        </div>
    </div>
    <button type="submit">Submit</button>
</form>